/* https://www.fontspace.com/ride-the-fader-font-f12003 */

@font-face {
  src: url(../../fonts/RideTheFader-1XKg.ttf);
  font-family: ride;
}

h1 {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

body {
  background: url("../../images/court_img.jpeg") no-repeat center center;
}

tbody {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.fragment {
  margin: 5rem;
}

table {
  text-align: center;
  text-transform: uppercase;
  background: #569456;
  border: 4px solid;
}

th {
  font-family: Arial, Helvetica, sans-serif arial, sans-serif;
  color: #e5f367;
}

.players {
  font-family: ride;
  font-size: 40px;
  color: #e5f367;
  vertical-align: middle;
}

.scores {
  font-family: ride;
  font-size: 40px;
  color: #e5f367;
  background: #000;
  text-align: right;
}

span {
  display: block;
  background: #000;
}

button#add {
  font-family: Arial, Helvetica, sans-serif arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #0f0b6d;
  border: #0f0b6d;
  text-decoration: none;
}

button#add:hover {
  background: #060530;
  text-decoration: none;
}

.editButton {
  font-family: Arial, Helvetica, sans-serif arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.deleteButton {
  background: rgba(201, 15, 15, 0.781);
  border: rgba(201, 15, 15, 0.781);
  font-family: arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.deleteButton:hover {
  background-color: rgba(165, 12, 12, 0.774);
}
